#cnt{
    height: 500px;
    width: 1000px;
    background-color: darkgrey;
    opacity: .6;
    margin-left: 25px;

}

#wrapper2 { 
	margin-left: 70px;
	width: 280px;
	float:left; 
     } 

p{
    font-family: "Times New Roman", Times, serif;
}

#cnt{
    height: 250px;
    width: 1200px;
    background-color: darkgrey;
    opacity: .6;
    margin-top: 0px;

}

body{

background-image:url("space.jpg");
}